@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap";

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #d4d4d4;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: grey;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #d4d4d4;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wrap {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    margin-top: 6%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    min-width: 120px;
    // margin: 0 0 0 24px;
    padding: 11px 23px 11px 11px;
    background-color: hsl(0, 0%, 95%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTIgNiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTMpIj4gICAgPHBvbHlnb24gZmlsbD0iIzVENjk3MiIgZmlsbC1ydWxlPSJub256ZXJvIiBwb2ludHM9IjAgMyA2IDkgMTIgMyIvPiAgICA8cG9seWdvbiBwb2ludHM9IjAgMCAxMiAwIDEyIDEyIDAgMTIiLz4gIDwvZz48L3N2Zz4=),
        linear-gradient(-180deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 95%) 100%);
    background-position: calc(100% - 8px) center, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 8px auto, cover;
    border: 1px solid #d4d4d4;
    vertical-align: bottom;
    border-radius: 0;
    outline: none;
    &:focus {
        background-color: hsl(207, 89%, 99%);
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTIgNiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTMpIj4gICAgPHBvbHlnb24gZmlsbD0iIzU2NzdDQyIgZmlsbC1ydWxlPSJub256ZXJvIiBwb2ludHM9IjAgMyA2IDkgMTIgMyIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDYgNikiLz4gICAgPHBvbHlnb24gcG9pbnRzPSIwIDAgMTIgMCAxMiAxMiAwIDEyIi8+ICA8L2c+PC9zdmc+);
        border-color: hsl(223, 54%, 57%);
    }
    &::-ms-expand {
        display: none;
    }
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}
.products {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
}
.fulltitle {
    display: none;
}
.product-card {
    border: 1px solid rgba(128, 128, 128, 0.199);
    height: auto;
    margin: 1px;
    width: 16.66666667%;
    cursor: pointer;
    flex-basis: 17%;
    display: flex;
    opacity: 1;
    flex-direction: column;
    h3 {
        padding: 4px;
        color: rgb(245, 104, 104);
        overflow: hidden;
    }
    h5 {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &:hover {
        opacity: 0.5;
        .fulltitle {
            display: inline-block;
        }
    }
}
.product-image {
    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // opacity: 1.0;
    }
    &:hover {
        transform: scale(1.1);
        transition: 0.3s all ease-in-out;
        opacity: 0.5;

    }
}
.product-info {
    padding: 4px;
    height: unset;
}

// nav
#container {
    width: 100%;
    display: inline-block;
}
.header-nav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    z-index: 9;
    height: 77px;
    top: 0;
    width: 100%;
    .logo {
        display: inline-block;
    }
    ul {
        text-align: center;
        list-style-type: none;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-family: "Fira Sans", sans-serif;
            font-size: 17px;
            a {
                color: #f2f2f2;
                text-decoration: none;
                padding: 14px;
                &:hover {
                    background-color: #111;
                }
            }
        }
    }
}

.content {
    text-align: center;
}
// end nav
@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
        flex-grow: initial;
        flex-direction: column;
        h5 {
            font-size: 2vw;
        }
        h3 {
            font-size: 4vw;
        }
    }
    .products {
        .product-card {
            h5 {
                font-size: 3vw;
            }
            h3 {
                font-size: 4vw;
            }
            // &:first-child {
            //     flex: 2 46%;
            // }
            // &:nth-child(2) {
            //     flex: 2 46%;
            // }
        }
    }
}
@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
        flex-grow: initial;
        flex-direction: column;
        h5 {
            font-size: 3vw;
        }
    }
}
@media (max-width: 480px) {
    .product-filter {
        flex-direction: column;
    }
    .sort {
        align-self: flex-start;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    line-height: 1.5;
}
.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
img {
    width: 100%;
    display: block;
}
.img-display {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.img-showcase {
    display: flex;
    width: 80%;
    transition: all 0.5s ease;
    img {
        min-width: 100%;
    }
}
.img-select {
    display: flex;
}
.img-item {
    margin: 0.3rem;
    &:nth-child(1) {
        margin-right: 0;
    }
    &:nth-child(2) {
        margin-right: 0;
    }
    &:nth-child(3) {
        margin-right: 0;
    }
    &:hover {
        opacity: 0.8;
    }
}
.product-content {
    padding: 2rem 1rem;
}
.product-title {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
    }
}
.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
    &:hover {
        opacity: 0.9;
    }
}
.product-rating {
    color: #ffc107;
    span {
        span {
            font-weight: 600;
            color: #252525;
        }
    }
}
.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    span {
        font-weight: 400;
    }
}
.last-price {
    span {
        color: #f64749;
        text-decoration: line-through;
    }
}
.new-price {
    span {
        color: #256eff;
    }
}
.product-detail {
    h2 {
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }
    p {
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }
    .divider {
        border: 1px solid #80808038;
    }
    ul {
        margin: 1rem 0;
        font-size: 0.9rem;
        li {
            margin: 0;
            list-style: none;
            background-size: 18px;
            padding-left: 1.7rem;
            margin: 0.4rem 0;
            font-weight: 600;
            opacity: 0.9;
            span {
                font-weight: 400;
            }
        }
    }
}
.purchase-info {
    margin: 1.5rem 0;
    input {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
        width: 60px;
    }
    .btn {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
        cursor: pointer;
        color: #fff;
        &:first-of-type {
            background: #256eff;
        }
        &:last-of-type {
            background: #f64749;
        }
        &:hover {
            opacity: 0.9;
        }
    }
}
.social-links {
    display: flex;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
        &:hover {
            background: #000;
            border-color: transparent;
            color: #fff;
        }
    }
}
@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}
// loading
.container-elipsis {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
